<div class="container">
  <div class="col-lg-8">

		<h3>Team Members</h3>

			<ul class="list-unstyled">
			  <% @users.each do |user| %>
			    <li data-team="<%= user.id %>">
			      <h2>
			        <a href="/users/<%= user.id %>">
			          <%= user.first_name %>
			        </a>
			      </h2>
			  <% end %>
			</ul>

	<a href="/users/<%=current_user.id%>/teams/<%=@team.id%>/add_member" class="btn btn-success" role="button">+Add A Member</a>

 </div>
</div>